* {
    font-family: sans-serif;
    outline: none;
}

/* https://stackoverflow.com/a/6202729 */

#login {
    display: block;
}

#main, #about, #textpost, #linkpost, #user-info, #options, #explore {
	display: none;
}

#user-info {
	width: auto;
	float: right;
}

#content, #options-main, .content-explore {
	margin-top: calc(48px + 25px) !important;
}

/* Simple comment indentation */
details * {
    margin-left: 20px;
}

details {
	border: solid thin;
	border-radius: 5px;
	margin-bottom: 10px;
}

#content details {
	max-width: calc(100vw - 50px);
	margin-left: 25px;
	margin-right: 25px;
}

.content-post-text, .content-post-image {
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.content-post {
    width: calc(100% - 50px);
    height: auto;
    overflow: hidden;
    margin-left: 25px;
	margin-bottom: 15px;
	margin-top: 15px;
    border: solid thin;
    border-radius: 25px;
	padding: 5px;
	min-height: 250px;
}

.content-user-history-post, .content-user-history-comment {
	border-bottom: solid thin ;
}

img {
	max-width: 75vw;
	max-height: 95vh;
}

#login, #about {
	text-align: center;
	width: 100vw;
}

#top {
	position: fixed;
	width: 100vw;
	top: 0;
	height: 48px;
}

a, p, .noMargin {
	margin: 0px;
}

#packages-used {
	border: none;
}

.content-post-thumbnail {
	float: right;
	margin-right: 15px;
	border: solid medium;
	border-radius: 5px;
}

.content-comment-username {
	margin: 0px;
}

#content-post-reply-textarea, #content-post-reply-btn {
	margin-left: 25px;
}

#content-post-reply-btn {
	margin-bottom: 10px;
}

.content-subinfo, .content-explore {
	text-align: center;
	height: auto;
}

#username, #password {
	width: 250px;
	height: 50px;
	border: solid thin;
	text-align: center;
	margin-bottom: 15px;
	transition: border-radius 1s
}

#username:hover, #password:hover {
	border-radius: 25px;
}

button, input {
	border: solid thin;
}

button, input[type="submit"] {
	border-radius: 5px;
}

.top-btn {
	width: 32px;
	height: 32px;
	margin-left: calc(12.25% - 16px);
	margin-right: calc(12.25% - 16px);
	margin-top: 8px;
	margin-bottom: 8px;
}

#textpost, #linkpost {
	text-align: center;
}

#makepost-text-text {
	text-align: left;
}

#makepost-text-sub, #makepost-text-title, #makepost-link-sub, #makepost-link-title {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 250px;
	height: 15px;
}

.top {
	position: fixed;
	width: 100vw;
	top: 0;
}