* {
    background-color: rgb(28, 32, 39);
    font-family: sans-serif;
    color: white;
    outline: none;
}

/* https://stackoverflow.com/a/6202729 */

#login {
    display: block;
}

#main, #about {
	display: none;
}

#user-info {
	width: auto;
	float: right;
}

#content {
	padding-top: 15px;
}

/* Simple comment indentation */
details * {
    margin-left: 20px;
}

details {
	border: solid white thin;
	border-radius: 5px;
    margin-bottom: 10px;
}

.content-post-text, .content-post-image {
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.content-post {
    width: calc(100% - 50px);
    height: auto;
    overflow: hidden;
    margin-left: 25px;
	margin-bottom: 15px;
	margin-top: 15px;
    border: solid thin white;
    border-radius: 25px;
	padding: 5px;
	min-height: 250px;
}

.content-user-history-post, .content-user-history-comment {
	border-bottom: solid thin white;
}

img {
    max-width: 75vw;
}

#login, #about {
	text-align: center;
	width: 100vw;
}

#top {
	position: fixed;
	width: 100vw;
}

a, p, .noMargin {
	margin: 0px;
}

#packages-used {
	border: none;
}

.content-post-thumbnail {
	float: right;
	margin-right: 15px;
	border: solid medium rgb(61, 173, 211);
	border-radius: 5px;
}

.content-comment-username {
	margin: 0px;
}

#content-post-reply-textarea, #content-post-reply-btn {
	margin-left: 25px;
}

#content-post-reply-btn {
	margin-bottom: 10px;
}